footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #fc6c85;
}

footer h3 {
    margin-bottom: 1.2em;
    color: #FFF;
}

footer span {
    font-weight: bold;
    color: #FFF;
}

footer p {
    color: #FFF;
}