<form>
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" placeholder="Type a title" required />
    </div>
    <div class="form-group">
        <label for="description">Description: </label>
        <textarea required placeholder="What happend there?"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Share a picture from this memo</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>
