.memo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1em;
}

img {
    max-width: 400px;
    margin-bottom: 0 auto 1em;
}

.about-memo, .actions {
    border-bottom: 1px solid #fc6c85;
    border-radius: 10px;
    padding: 1.2em;
    width: 50%;
}

.actions h3 {
    padding-bottom: 1em;
    color: white;
}

.actions {
    background-color: #fc6c85;
}

.comments {
    margin-bottom: 1em;
    padding: 1.5em 0;
}

/* .about-memo h4, .actions h4, .comments {
    margin-bottom: 1em;
} */