<div class="home-container">
    <h2>See what they're sharing!</h2>
    <div class="search-container">
      <form>
         <fa-icon [icon]="faSearch"></fa-icon>
         <input type="text" placeholder="Or search for a memo..." (input)="search($event)">
      </form>
    </div>
     <div *ngIf="memos.length > 0; else noMemos">
        <div class="memos-container">
            <div class="memo" *ngFor="let memo of memos">
                <img src="{{ baseApiUrl }}uploads/{{ memo.image }}" alt="">
                <h3>{{ memo.title }}</h3>
                <p class="date">Em: {{ memo.createdAt }}</p>
                <p>Comentários: {{ memo.comments!.length }}</p>
                <p><a routerLink="memos/{{memo.id}}">Detalhes</a></p>
             </div>
        </div>
     </div>
     <ng-template #noMemos>
        <h1>Não há Memos cadastrados!</h1>
     </ng-template>
</div>