.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 0.5em;
}

.memos-container {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
    margin: 0 100px;
    justify-content: space-between;
}

.memo {
    width: 32%;
    margin-bottom: 1em;
    /* margin-left: 0.7em; */
    text-align: center;
}

.memo img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 1em;
    object-fit: cover;
}

.memo h3, .memo p {
    margin-bottom: 1em;
}

.memo .date {
    font-size: 0.7em;
    font-style: italic;
}

a {
    color: #fc6c85;
    padding: .3em;
}

a:hover {
    color: white;
    background-color: #fc6c85;
    border-radius: 10px;
}

.search-container {
    margin-bottom: 2em;
    width: 100%;
}

.search-container form {
    width: 30%;
    position: relative;
}

.search-container fa-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.search-container input {
    padding: .5em;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    border-color: #fc6c85;
    border-style: double;
}

